# -----------------------------------------------------------------------------
# CDK configurations
# -----------------------------------------------------------------------------

# [required] Allow-list baggage attributes for ADOT [>=v0.16.0]
OTEL_BAGGAGE_SPAN_ATTRIBUTE_KEYS=harness.id,harness.endpoint.qualifier,session.id,tenant.id

# [Optional] Configure OTLP endpoint to enable harness third-party observability (Refer to 3P documentation)
# OTEL_EXPORTER_OTLP_ENDPOINT=https://<3p_otlp_endpoint_url>/
# OTEL_EXPORTER_OTLP_HEADERS=Authorization=Bearer <access_token>

# [Optional] Harness agent ARN. [Default] will create a sample harness agent
# HARNESS_ARN=arn:aws:bedrock-agentcore:<region>:<account>:harness/<harness_id>

# [Optional] Alternate docker service for CDK. [Default] Docker service is used
# CDK_DOCKER=finch
